{
  "plugins": [
    "prettier-plugin-tailwindcss",
    "prettier-plugin-classnames",
    "prettier-plugin-organize-imports"
  ],
  "organizeImportsSkipDestructiveCodeActions": true,
  "endingPosition": "absolute-with-indent"
}
